{% extends 'base.html.twig' %}

{% block title %}
    {{ title }} {{ app.user.email }}
{% endblock %}

{% block description %}
    {{ description }}
{% endblock %}

{% block body %}
    <section id="change_password_page" data-turbo="false">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb py-4">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{{ path('profilepage') }}">Профиль</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }} {{ app.user.email }}</li>
            </ol>
        </nav>
        <h2>{{ title }} {{ app.user.email }}</h2>
        <h5 class="alert alert-warning">После изменения пароля вам нужно снова войти в аккаунт</h5>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {{ form_start(passwordform) }}
        {{ form_errors(passwordform) }}
        {{ form_row(passwordform.currentPassword) }}
        {{ form_row(passwordform.newPassword) }}
        {{ form_row(passwordform.change) }}
        {{ form_end(passwordform) }}
    </section>
{% endblock body %}